page-search-complaint {
    ion-title{
        text-align: right;
    }
    .list{
        text-align: right;
    }
    a{
        text-decoration: none
    }
    .complaintcontent{
        overflow: hidden;
        width: 90%;
        height: 17px;
    }
}
