page-search-for-req {
   
     .ri{
         float: right;
     }

     .item{
        float:right;
     }
     .RH{
       
        float: right;

        position: relative;
        left: -50%; /* or right 50% */
        text-align: left;
     }

}
