page-user {
    ion-title{
        text-align: right;
    }
    .list{
        text-align: right;
        border-bottom: 1px solid #3d507e;
        margin-top: 10px; 
    }
    a{
        text-decoration: none;
        color: black;
    }
    .complaintcontent{
        overflow: hidden;
        width: 95%;
        height: 17px;
    }
    .button{
        height: auto;
        color: #3d507e;
        margin-top: 25px;
        font-size: 25px;
        background: none;
        box-shadow: none;
        padding: 0

    }
    .icon{
        background: white;
        padding: 10px;
        margin: 10px;
        border-radius: 4px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 3px 0px #8090df;
        color: #889cff
    }
    .user{
        display: inline-flex;

    }
    .date{
        margin: 10px;
        text-align: left
    }
    .logout{
        font-size: 2.2em;
        background: none;
        margin-top: 0;
    }
}
