page-welcome {
    $background:#f7f8fd;
    $butoon:#2ebaee;
    .background{
        position: absolute;
        height: 132%;
        width: 153%;
        background-color: white;
        margin-left: -70%;
        border-radius: 100%;
        margin-top: -57%;
        z-index: -1;
    }
    .welcomebody{

        text-align: center;
        background-color: $background;
    }
    .logo{
        height: 100px;
        width: 70%;
        margin: 10px;
        /* margin-top: 10%; */
        float: left;
    }
    .button{
        height: auto;
        color: #3d507e;
        margin-top: 25px;
        font-size: 25px;
        background: none;
        box-shadow: none;
        padding: 0

    }
    .buttonsContainer{
        margin-top:70%; 
    }
    .icon{
        background: white;
        padding: 10px;
        margin: 10px;
        border-radius: 4px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 3px 0px #8090df;
        color: #889cff
    }

}
