page-complaints {
    $background:white;
    .toolbar-background{
        background: none;
        
    }
    ion-title{
        text-align: right;
    }
    .text-input-md {
        text-align: right;
        color: #3d507e;
        background: none;
    }
    
    .searchcontent{
        display:flex;
        background:none;
        margin-top: 200px;
        box-shadow: 0px 1px 15px 0px #bfc8f3;
        border-bottom: 1px solid #3d507e;

    }
    
    .searchcontent button{
        background:#3d507e;
        color: white;
        height: 50px;
        width: 70px;

    }
    

    .item-innert:focus,.item-inner:active{
        border: none
    }
    .background1{
        position: absolute;
        height: 132%;
        width: 153%;
        background-color: #f7f8fd;
        margin-left: -116%;
        border-radius: 100%;
        margin-top: -57%;
        z-index: -10;
    }
    .background2{
        position: absolute;
        height: 132%;
        width: 153%;
        background-color: #f7f8fd;
        margin-left: 53%;
        border-radius: 100%;
        margin-top: 30%;
        z-index: -10;
       
    }
    .pageContent{
        text-align: center;
        background-color: $background;
    }
    .send{
        height: auto;
        color: #3d507e;
        margin-top: 25px;
        font-size: 25px;
        background: none;
        box-shadow: none;
        padding: 0
    }
    .icons{
        background: white;
        padding: 10px;
        margin: 10px;
        border-radius: 4px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 3px 0px #8090df;
        color: #889cff;
        height:50px;
        width: 50px;
    }
    
}
